VITE_APP_ENV=uat
VITE_QR_CONTEXT_API_URL=https://fumesandflavoursapi.cylsysuat.com/api/QR/qrcontext
VITE_WEBSITE_URL=https://thedesirelounge.com
VITE_MENU_URL=/menu
VITE_MENU_APP_URL=https://app.thedesirelounge.com
VITE_CATEGORIES_URL=https://app.thedesirelounge.com/categories
VITE_CUSTOM_MOMENTS_API_URL=/api/custom-moments
VITE_IMAGE_BASE_URL=https://restaurents-api.cylsys.com
VITE_CREATE_RESERVATION_API_URL=https://restaurents-api.cylsys.com/api/Reservation/CraeteReservation